.git
.github
.DS_Store
.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.tox
.nox
.cache
.hypothesis
.ipynb_checkpoints
.env
.env.*
**/.env
**/.env.*
build
dist
site
htmlcov
.coverage
*.egg-info
*.csv
*.log
*.sqlite*
*.pkl
*.pickle
*.ipynb
*.key
*.pem
*.p12
